
/* First Section */

.header-div{
   background-image: url(../pics/front-page-header.jpg);
   height: 100vh;
   width: 100%;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
  
   
}

.ul-div ul li{
    font-size: 16px;
    font-weight: bold;
    margin-left: 27px;
    padding-top: 2px;
    
    
}


.clean-div{
    margin-top: 250px;
}
.clean-h1{
    font-weight: bolder;
}

.p1-div{
    padding-left: 20%;
    padding-right: 20%;
    
}

.btn1{
   padding: 15px 70px;
    margin-top: 32px;
    margin-right: 15px;
    border: 2px solid white;
}

.btn2{
    padding: 15px 70px;
    margin-top: 32px;
}

/* End First Section */

/* About Section */

.about-h1{
    font-weight: bold;
    font-size: 40px;
}

.about-p1{
    font-size: 16px;
    text-align: center;
    color: #8c9597;
    font-family: lato;
    
}
/* 
progress bar div */

.line-1{
    background-color: darksalmon;
    height: 5px;

}

.line-11{
    background-color: rgb(207, 200, 200);
    height: 5px;
    
}


.line-2{
    background-color: rgb(255, 243, 5);
    height: 5px;

}

.line-22{
    background-color: rgb(207, 200, 200);
    height: 5px;
    
}


.line-3{
    background-color: rgb(79, 1, 148);
    height: 5px;

}

.line-33{
    background-color: rgb(207, 200, 200);
    height: 5px;
    

}


/* ///////////////////////////////////// */

.per-1{
    background-color: darksalmon;
  
    height: 30px;
    width: 60px;
    margin-left: 250px;
    border-radius: 8%;

}


.per-2{
    background-color: rgb(255, 243, 5);
   
    height: 30px;
    width: 60px;
    margin-left: 310px;
    border-radius: 8%;

}


.per-3{
    background-color: rgb(79, 1, 148);
    
    height: 30px;
    width: 60px;
    margin-left: 320px;
    border-radius: 8%;

}

/* /////////////////////////////////// */

.tex-1{
    color: darksalmon;
}

.tex-2{
    color: rgb(255, 243, 9);
}

.tex-3{
    color: rgb(79, 1, 148);
    
}

/* //////////////////////////////////////////// */

.back-pic{
  background-image: url(../pics/lines.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 28vh;
}

.projects-h1{
    font-weight: bold;
    font-size: 40px;
}

.projects-p1{
    font-size: 16px;
    text-align: center;
    color: #8c9597;
    font-family: lato;
}

.project-pics{
    height: 337px;
    margin: 0%;
    padding: 0%;
}
.pro-pics{
    height: 337.5px;
   
    cursor: pointer;
    
}

/* //////Carosoul Section //////// */


.caro-pic{
    background-image: url(../pics/testiomnials-background.jpg);
    height: 97vh;
}

.testi-text{
    font-weight: bold;
}

.carousel-pic{
    height: 130px;
    border-radius: 100%;
   
}

.pic-divv{
   margin-left: 592px;

}

.qu-div1{
    margin-top: 50px;
    text-align: center;
    height: 140px;
    background-color: rgb(118, 81, 152);
    font-family: lato;
    font-weight: 400;
}


/* Services section  */

.services-h1{
    font-weight: bold;
    font-size: 40px;

}

.services-p1{
    font-size: 16px;
    text-align: center;
    color: #8c9597;
    font-family: lato;
}

.ser-h1{
    color: darksalmon;
    font-weight: bold;
   
    font-size: 27px;
    margin-bottom: 20px;

}
.ser-icon1{
    color: darksalmon;
    font-weight: bold;
   
    font-size: 27px;
    margin-bottom: 10px;

}

.ser-h2{
    color: rgb(255, 243, 9);
    font-weight: bold;
  
    font-size: 27px;
    margin-bottom: 20px;
    
}


.ser-icon2{
    color: rgb(255, 243, 9);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 27px;

}

.ser-h3{
    color: rgb(79, 1, 148);
    font-weight: bold;
    
    font-size: 27px;
    margin-bottom: 20px;

    
}

.ser-icon3{
    color: rgb(79, 1, 148);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 27px;

}

/* Cards section  */
.card-con{
    padding-bottom: 15px;
}
.card-m-h1{
    font-weight: bold;
    font-size: 40px;
    color: aliceblue;
}

.card-m-p1{
    font-size: 16px;
    color: #8c9597;
    font-family: lato;
}

.card-btn{
    padding: 10px 50px;
    font-weight: bold;
    color: aliceblue;
}

.card1-h3{
    
    font-weight: bold;
    color: #112328;

}

.card1-p1{
    font-size: 16px;
    color: #8c9597;
    font-family: lato;

}

.link1{
    color: rgb(255, 243, 9);

}


/* Counter Section  */

.counter-div{
   
    background-image: url(../pics/front-page-counter.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.counter-row{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}

.counter-col{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.counter-h1{
    font-weight: bolder;
    font-size: 70px;
}

.line1{
    height: 100px;
    border-left: 2px solid white;
    
}
.con-col{
    width:100%;
}

/* End Counter section */

/* Team section */
.team-div{
    height:500px;
    background-color: aliceblue;
    
}

.team-h1{
    font-weight: bold;
    font-size: 40px;
    padding-top: 70px;
}

.team-p1{
    font-size: 16px;
    text-align: center;
    color: #8c9597;
    font-family: lato;
}
.team-p2{
    font-size: 16px;
    color: #8c9597;
    font-family: lato;
}

.teampic1{
    border-radius:100% ;
}

.teamp1{
    color: darksalmon;
}
.teamh1{
    font-weight: bold;
}
.icon-team1{
    color: darksalmon;
    margin-right: 10px;
    font-size: 20px;
}

.icon-team2{
    color: rgb(255, 243, 9);
    margin-right: 10px;
    font-size: 20px;
}
.teamp2{
    color: rgb(255, 243, 9);
}

.icon-team3{
    color: rgb(79, 1, 148);
    margin-right: 10px;
    font-size: 20px;
}
.teamp3{
    color: rgb(79, 1, 148);
}
.team-row{
    justify-content: space-around;
    margin-top: 30px;
}

/* Contact us section */

.contact-h1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 90px;
    
}
.contact-icons{

display: flex;
justify-content: flex-end;

}
.ic{
    margin-right: 10px;
    color: #8c9597;

}

.tex{
    height: 200px;
    width: 100%;
}
.contact-color{
    color: #8c9597;
}
.contact-btn{
   
    display: flex;
    justify-content:flex-end;

}
.con-btn{
    padding: 5px 60px;
}

.links{
    height: 300px;
}
.links-h1{
    font-weight: bold;
    font-size: 30px;
}

.link-ul{
    list-style-type:none;
    line-height: 36px;
    
   
}

.lin ul li a{
    font-family: lato;
    color: #8c9597;
    font-size: 18px;
    text-decoration: none;
}
.foot{
    height: 80px;
    background-color: #212c2f;
}



